<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Graphs</h4>
            <p class="card-category">Radical Growth Dashboard Charts</p>
          </div>
          <div class="card-body">
            <!-- <form [formGroup]="ChartForm">
              <div class="row">
                <div class="col-md-3 pl-md-1">
                  <div class="form-group">
                    <h5
                      style="
                        font-weight: bolder;
                        font-family: 'Nunito', sans-serif;
                      "
                    >
                      Device
                    </h5>
                    <p-dropdown
                      class="dropdownsettings"
                      [ngModelOptions]="{ standalone: true }"
                      [options]="DeviceList"
                      [(ngModel)]="selectedDevice"
                      optionLabel="device_id"
                      [filter]="true"
                      filterBy="device_id"
                      [showClear]="true"
                      placeholder="Select a Device"
                      (onChange)="deviceSelected(selectedDevice)"
                      [style]="{ width: '100%' }"
                    >
                      <ng-template pTemplate="selectedItem">
                        <div *ngIf="selectedDevice">
                          <div>{{ selectedDevice.device_id }}</div>
                        </div>
                      </ng-template>
                      <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.device_id"></a>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-3 pl-md-1">
                  <div class="form-group">
                    <h5
                      style="
                        font-weight: bolder;
                        font-family: 'Nunito', sans-serif;
                      "
                    >
                      Parameter
                    </h5>
                    <p-multiSelect
                      class="dropdownsettings"
                      formControlName="parameters"
                      [options]="ParameterList"
                      [style]="{ width: '100%' }"
                    >
                    </p-multiSelect>
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <h5
                      style="
                        font-weight: bolder;
                        font-family: 'Nunito', sans-serif;
                      "
                    >
                      Chart Type
                    </h5>
                    <p-dropdown
                      formControlName="chart_type"
                      [options]="chartsTypes"
                      placeholder="Select a Type"
                      [style]="{ width: '100%' }"
                    >
                    </p-dropdown>
                    <button
                      (click)="saveChart()"
                      mat-raised-button
                      type="submit"
                      class="btn btn-danger float-right"
                    >
                      Create Chart
                    </button>
                  </div>
                </div>
              </div>
              <p-toast position="top-right"></p-toast>
            </form>
            <div class="row">
              <div style="margin-left: 10px">
                <mat-form-field
                  lass="map-search-field"
                  style="
                    width: 100px;
                    font-weight: bolder;
                    font-family: 'Nunito', sans-serif;
                    color: black !important;
                  "
                >
                  <mat-label>Refresh</mat-label>
                  <mat-select
                    [(ngModel)]="refreshTime"
                    (selectionChange)="refreshTimeChanged()"
                  >
                    <mat-option value="5000"> 5s </mat-option>
                    <mat-option value="10000"> 10s </mat-option>
                    <mat-option value="15000"> 15s </mat-option>
                    <mat-option value="30000"> 30s </mat-option>
                    <mat-option value="60000"> 60s </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div style="margin-left: 5px">
                <mat-form-field
                  style="
                    width: 100px;
                    font-weight: bolder;
                    font-family: 'Nunito', sans-serif;
                    color: black !important;
                  "
                >
                  <mat-label>Time</mat-label>
                  <mat-select
                    [(ngModel)]="selectedTime"
                    (selectionChange)="timeChanged($event)"
                  >
                    <mat-option value="5m"> Past 5m </mat-option>
                    <mat-option value="15m"> Past 15m </mat-option>
                    <mat-option value="1h"> Past 1h </mat-option>
                    <mat-option value="6h"> Past 6h </mat-option>
                    <mat-option value="12h"> Past 12h </mat-option>
                    <mat-option value="24h"> Past 24h </mat-option>
                    <mat-option value="2d"> Past 2d </mat-option>
                    <mat-option value="7d"> Past 7d </mat-option>
                    <mat-option value="30d"> Past 30d </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div> -->
            <p-progressSpinner
              class="h-100 d-flex justify-content-center align-items-center"
              *ngIf="loading"
            ></p-progressSpinner>
            <div class="col-md-12 pl-md-1">
              <div class="form-group">
                <div id="containergraph"></div>
              </div>
            </div>
          </div>
          <p-confirmDialog
            header="Confirmation"
            icon="pi pi-exclamation-triangle"
          ></p-confirmDialog>
        </div>
      </div>
    </div>
  </div>
</div>
