.highcharts-credits{
    display: none;
}
.container {
    padding: 20px;
    display: grid;
    background: white;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
  
  .container > div {
    border: 1px solid black;
    background: #ececec;
    margin: 5px;
    padding: 10px;
    margin-left: 10px;
  }
  .not-empty-select.mat-selected {
    color: black !important;
  }
  
  :host /deep/ .mat-select-value-text {
    color: black !important;
  }
  .GraphElements{
    font-weight: bold;
    display:inline-block
  }
  .dropdownsettings{
    font-weight: bolder;font-family: 'Nunito', sans-serif !important;
    Border: none;
    /* background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px); */
  }