<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <!-- <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li> -->
        <li>
          <a href="https://www.radicalgrowth.solutions/" target="_blank">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.radicalgrowth.solutions/contact" target="_blank">
            Contact
          </a>
        </li>
        <!-- <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li> -->
      </ul>
    </nav>
    <!-- <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="https://www.creative-tim.com" target="_blank">RISETech.</a>
        </div> -->
  </div>
</footer>
