.dropdownsettings{
    font-weight: bolder;font-family: 'Nunito', sans-serif !important;
  }
  .inputBorder{
border: 1px solid black;
padding: 5px;;
  }
  h5,h6,button,input,h4,td,tr,p-table{
    font-family: 'Nunito', sans-serif;
}