<div class="main-content">

    <!-- <div class="container-fluid"> -->
    <!-- <div class="d-inline-flex"> -->
    <!-- <div class="card text-white bg-success mb-3" style="width: 250px">
                <div class="card-body">
                    <h5 class="card-title text-center">Registered Devices: <span
                            class="card-text text-center font-weight-bold">{{total_devices}}</span>
                    </h5>
                </div>
            </div> -->
    <!-- <div style="padding-top: 30px;padding-left: 3px;">
                <button style="height: 52px;margin:auto" class="btn btn-success" type="submit"
                    (click)="devicesInAlarm()">Devices in Alarm
                </button>

            </div> -->
    <!-- <div style="padding-left: 10px;padding-top: 37px;">
                <p-progressSpinner *ngIf="loading" [style]="{width: '25px', height: '30px'}" strokeWidth="4"
                    animationDuration=".5s">
                </p-progressSpinner>
            </div> -->
    <!-- </div> -->
    <div id="fullcontainer" style="position: relative;">
        <div id="map" style="margin-top: -10px;"></div>
        <div *ngIf="chartWindowVisible" class="blocktest"
            style="position: absolute; top: -25px; left: 730px; z-index: 99;width: 480px;height: 540px;">
            <div class="card text-white bg-info mb-3" style="height: 100%;">
                <div class="card-header" style="height: 100%;">
                    <div class="d-flex flex-row logo">
                        <div style="padding-right: 10px;padding-top: 11px;" class="logo-img">
                            <img style="width: 30px;" src="assets/img/logo.png" />

                        </div>
                        <div style="margin-left: -8px;padding-top: 11px;width: 100%;">
                            <h6
                                style="font-weight: bolder;font-family: 'Nunito', sans-serif;display: inline;padding-left: 5px;">
                                {{removeExtraString(selected_device?.device_id)}}
                            </h6>
                        </div>
                        <div style="margin-left: 10px;display: none;">
                            <mat-form-field lass="map-search-field"
                                style="width: 100px;font-weight: bolder;font-family: 'Nunito', sans-serif;color: white !important;">
                                <mat-label>Refresh</mat-label>
                                <mat-select [(ngModel)]="refreshTime" (selectionChange)="refreshTimeChanged()">
                                    <mat-option value="5000">
                                        5s
                                    </mat-option>
                                    <mat-option value="10000">
                                        10s
                                    </mat-option>
                                    <mat-option value="15000">
                                        15s
                                    </mat-option>
                                    <mat-option value="30000">
                                        30s
                                    </mat-option>
                                    <mat-option value="60000">
                                        60s
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="margin-left: 5px;display: none;">
                            <mat-form-field
                                style="width: 100px;font-weight: bolder;font-family: 'Nunito', sans-serif;color: white !important;">
                                <mat-label>Time</mat-label>
                                <mat-select [(ngModel)]="selectedTime" (selectionChange)="timeChanged(false)">
                                    <mat-option value="5m">
                                        Past 5m
                                    </mat-option>
                                    <mat-option value="15m">
                                        Past 15m
                                    </mat-option>
                                    <mat-option value="1h">
                                        Past 1h
                                    </mat-option>
                                    <mat-option value="6h">
                                        Past 6h
                                    </mat-option>
                                    <mat-option value="12h">
                                        Past 12h
                                    </mat-option>
                                    <mat-option value="24h">
                                        Past 24h
                                    </mat-option>
                                    <mat-option value="2d">
                                        Past 2d
                                    </mat-option>
                                    <mat-option value="7d">
                                        Past 7d
                                    </mat-option>
                                    <mat-option value="30d">
                                        Past 30d
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="d-flex flex-row-reverse" style="margin-left: 10px;width: 100%;">
                            <button class="btn btn-success btn-pad" (click)="viewDevice()" style="padding:10px;">
                                <i class="pi pi-eye"> </i>
                            </button>
                        </div>

                    </div>

                    <div id="areasplinecontainer">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>