p-dropdown.ng-invalid:not(form) > div {
    border: 0px;
    outline:0px;
  }

  p-dropdown.ng-invalid.ng-touched.ui-inputwrapper-focus:not(form) > div {
    border: 0px;
    outline:0px;
  }

  p-dropdown.ng-invalid.ng-untouched.ui-inputwrapper-focus:not(form) > div {
    border: 0px;
    outline:0px;
  }
 
  .map-search-field mat-label {
    color: white;
    /* add label text color here */
  }
  
  .map-search-field .mat-input-element {
    color: white;
    /* add input text color here */
  }
  
  .map-search-field .mat-input-element::placeholder {
    color: white;
    /* add placeholder css here */
  }
  ::ng-deep .mat-select-value-text {
    color: white
  }
  ::ng-deep .mat-option-text {
    color: white
  }
  ::ng-deep .mat-form-field-label {
    color: white !important;
  }
  ::ng-deep .mat-select-panel{
    background-color:#4caf50;
}