<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h5 style="font-family: 'Nunito', sans-serif;" class="title">Device
                                            Allocation
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="DeviceForm">
                                            <div class=" row">
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Registered Users</h5>
                                                        <p-dropdown [ngModelOptions]="{standalone: true}"
                                                            [options]="UserList" [(ngModel)]="selectedUser"
                                                            optionLabel="name" [filter]="true" filterBy="name"
                                                            [showClear]="true" placeholder="Select a User"
                                                            (onChange)='userSelected(selectedUser)'
                                                            [style]="{'width':'100%'}">
                                                            <ng-template pTemplate="selectedItem">
                                                                <div *ngIf="selectedUser">
                                                                    <div>{{selectedUser.name}}</div>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template #itemTemplate let-item>
                                                                <a [innerHTML]="item.name"></a>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif !important;">
                                                            Avaliable Devices</h5>
                                                        <p-multiSelect defaultLabel="Select Devices"
                                                            class="dropdownsettings" formControlName="devices"
                                                            [options]="ThingStackDevicesList"
                                                            [style]="{'width':'100%'}">
                                                        </p-multiSelect>
                                                    </div>
                                                </div>

                                                <p-toast position="top-right"></p-toast>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" card-footer" style="text-align: right;">
                        <button class="btn btn-danger" type="submit" (click)="resetForm()">Revert</button>
                        <button class="btn btn-success" type="submit" (click)="allocateDevice()">Allocate
                            Devices</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="card cus-card col-md-12">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="card col-md-12">
                            <div class="card-body">

                                <div style="padding-top: 10px;" class="row">
                                    <div class="col-md-12">
                                        <p-table #dt [value]="DeviceList" [autoLayout]="true" dataKey="user_id.name"
                                            [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                                            [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
                                            [filterDelay]="0" [globalFilterFields]="['user_id.name']">
                                            <ng-template pTemplate="caption">
                                                <div class="mytable-header">
                                                    List of Allocated Devices
                                                    <div class="input-group-prepend" style="border: 1px solid black;">
                                                        <span style="margin-right: 5px" class="input-group-text"><i
                                                                class="fa fa-search"></i></span>
                                                        <input style="border: 0" pInputText type="text"
                                                            (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                            placeholder="Search All" />
                                                    </div>
                                                </div>
                                            </ng-template>
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Sr#</th>
                                                    <th>Devices</th>
                                                    <th>User</th>
                                                    <th>Actions</th>
                                                </tr>
                                                <tr>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-pro let-i="rowIndex">
                                                <tr>
                                                    <td>{{i+1}}</td>
                                                    <td>
                                                        <h6 *ngFor="let val of pro.devices"> {{removeExtraString(val)}}
                                                        </h6>
                                                    </td>
                                                    <td *ngIf="pro.user_id">{{ pro?.user_id?.name }}</td>
                                                    <td style="color: red;" *ngIf="pro.user_id==null">User Not Found
                                                    </td>
                                                    <td class="">
                                                        <button class="btn btn-warning btn-pad ml-2 mr-2"
                                                            style="padding:10px;" (click)="editDevice(pro._id)">
                                                            <i class="pi pi-pencil"> </i>
                                                        </button>
                                                        <button class="btn btn-danger" (click)="deleteDevice(i)"
                                                            style="padding:10px">
                                                            <i class="pi pi-trash"> </i>
                                                        </button>

                                                    </td>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="emptymessage">
                                                <tr>
                                                    <td colspan="12" style="text-align: center;">
                                                        <h4>No Record Found</h4>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    </div>
</div>