<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h5 style="font-family: 'Nunito', sans-serif;" class="title">Edit Alerts
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="AlertForm">
                                            <div class=" row">
                                                <div class=" col-md-3 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Device</h5>
                                                        <p-dropdown [ngModelOptions]="{standalone: true}"
                                                            [options]=" DeviceList" [(ngModel)]="selectedDevice"
                                                            optionLabel="device_id" [filter]="true" filterBy="device_id"
                                                            [showClear]="true" placeholder="Select a Device"
                                                            (onChange)='deviceSelected(selectedDevice)'
                                                            [style]="{'width':'100%'}">
                                                            <ng-template pTemplate="selectedItem">
                                                                <div *ngIf="selectedDevice">
                                                                    <div>{{removeExtraString(selectedDevice.device_id)}}
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template #itemTemplate let-item>
                                                                <a [innerHTML]="item.device_id"></a>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class=" col-md-3 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Parameter</h5>
                                                        <p-dropdown [ngModelOptions]="{standalone: true}"
                                                            [options]="ParameterList" [(ngModel)]="selectedParameter"
                                                            optionLabel="name" [filter]="true" filterBy="name"
                                                            [showClear]="true" placeholder="Select a Parameter"
                                                            (onChange)='parameterSelected(selectedParameter)'
                                                            [style]="{'width':'100%'}">
                                                            <ng-template pTemplate="selectedItem">
                                                                <div *ngIf="selectedParameter">
                                                                    <div>
                                                                        {{ removeExtraStringParameter(selectedParameter.name)}}
                                                                    </div>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template #itemTemplate let-item>
                                                                <a [innerHTML]="item.name"></a>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class=" col-md-3 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Condition</h5>
                                                        <p-dropdown formControlName="condition" [options]="conditions"
                                                            placeholder="Select a Condition" [style]="{'width':'100%'}">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class=" col-md-2 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Value</h5>
                                                        <input class=" form-control inputBorder" placeholder="ex :58"
                                                            type="text" formControlName="value" />
                                                    </div>
                                                </div>
                                                <div class=" col-md-3 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Alert Name</h5>
                                                        <input class=" form-control inputBorder"
                                                            placeholder="ex :Test Alert" type="text"
                                                            formControlName="alert_name" />
                                                    </div>
                                                </div>
                                                <div class=" col-md-3 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Action</h5>
                                                        <p-dropdown formControlName="action" [options]="actions"
                                                            placeholder="Select a Action" [style]="{'width':'100%'}">
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class=" col-md-3 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Email</h5>
                                                        <input class=" form-control inputBorder"
                                                            placeholder="ex :test@gmail.com" type="text"
                                                            formControlName="destination" />
                                                    </div>
                                                </div>
                                                <p-toast position="top-right"></p-toast>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" card-footer" style="text-align: right;">
                        <button class="btn btn-danger" type="submit" (click)="cancel()">Cancel</button>
                        <button class="btn btn-success" type="submit" (click)="updateAlert()">Update Alert
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>