<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h5 style="font-weight: bolder;" class=" title">Register User </h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="UserForm">
                                            <div class=" row">
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Name</h5>
                                                        <input class=" form-control inputBorder"
                                                            placeholder="ex :Ali Khan" type="text"
                                                            formControlName="name" />
                                                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                                                            <div *ngIf="f.name.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Name
                                                                Required!</div>
                                                            <div *ngIf="f.name.errors.minlength"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Name should contain at least 6 characters
                                                            </div>
                                                            <div *ngIf="f.name.errors.pattern"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Invalid Pattern
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class=" col-md-2 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Phone No</h5>
                                                        <input class="form-control item inputBorder" id="phone-number"
                                                            type="text" placeholder="ex: 03001234567"
                                                            mask="0000-0000000" formControlName="phoneNumber" />
                                                        <div *ngIf="submitted && f.phoneNumber.errors"
                                                            class="text-danger">
                                                            <div *ngIf="f.phoneNumber.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Phone Number
                                                                Required!</div>
                                                            <div *ngIf="f.phoneNumber.errors.pattern"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Invalid Phone Number !</div>
                                                            <div *ngIf="f.phoneNumber.errors.minlength"><i class=" fas
                                          fa-exclamation-circle"></i>
                                                                Must be 11 Digit Number !
                                                            </div>
                                                            <div *ngIf="f.phoneNumber.errors.maxlength"><i class=" fas
                                          fa-exclamation-circle"></i>
                                                                Must be 14 Digit Number !
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class=" col-md-6 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Address</h5>
                                                        <input class="form-control inputBorder" type="text"
                                                            placeholder="Address" formControlName="address" />
                                                    </div>
                                                    <div *ngIf="submitted && f.address.errors?.minlength"
                                                        class=" text-danger">
                                                        <i class="fas fa-exclamation-circle"></i>
                                                        Address should
                                                        be at least 20 characters</div>
                                                    <div *ngIf="submitted && f.address.errors?.required"
                                                        class=" text-danger">
                                                        <i class="fas fa-exclamation-circle"></i>
                                                        Address required</div>
                                                </div>
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Email</h5>
                                                        <input class=" form-control item inputBorder" type="text"
                                                            placeholder="ex: someone@gmail.com" id="email"
                                                            formControlName="email" />
                                                        <div *ngIf="submitted && f.email.errors" class="text-danger">
                                                            <div *ngIf="f.email.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Email
                                                                Required!</div>
                                                            <div *ngIf="f.email.errors.email"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Invalid Email !</div>
                                                        </div>
                                                        <span style="color:red" *ngIf="emailAlreadyExists">Email Already
                                                            Exists
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Password</h5>
                                                        <input class=" form-control inputBorder" type="password"
                                                            placeholder="ex: abcd1234" formControlName="password" />
                                                        <div *ngIf="submitted && f.password.errors" class="text-danger">
                                                            <div *ngIf="f.password.errors.required "><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Password
                                                                Required!</div>
                                                            <div *ngIf="f.password.errors.minlength"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Password should be at-least 4 characters!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <div class=" form-group">
                                                            <h5
                                                                style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                                Role</h5>
                                                            <p-dropdown formControlName="role" [options]="roles"
                                                                placeholder="Select a Role" [style]="{'width':'100%'}">
                                                            </p-dropdown>
                                                        </div>
                                                        <div *ngIf="submitted && f.role.errors" class="text-danger">
                                                            <div *ngIf="f.role.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Role
                                                                Required!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p-toast position="top-right"></p-toast>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" card-footer" style="text-align: right;">
                        <button style="margin-right: 5px;" class="btn btn-danger" type="submit"
                            (click)="resetForm()">Revert</button>

                        <button class="btn btn-success" type="submit" (click)="saveUser()">Register User</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-12">
                <div class="card-body">
                    <div style="padding-top: 10px;" class="row">
                        <div class="col-md-12">
                            <p-table #dt [value]="UserList" [autoLayout]="true" dataKey="name" [rows]="10"
                                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
                                styleClass="p-datatable-customers" [paginator]="true" [filterDelay]="0"
                                [globalFilterFields]="['name','email','role','phoneNumber']">
                                <ng-template pTemplate="caption">
                                    <div class="mytable-header">
                                        List of Users
                                        <div class="input-group-prepend" style="border: 1px solid black;">
                                            <span style="margin-right: 5px" class="input-group-text"><i
                                                    class="fa fa-search"></i></span>
                                            <input style="border: 0" pInputText type="text"
                                                (input)="dt.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Search All" />
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Sr#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                    <tr>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-pro let-i="rowIndex">
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{ pro.name }}</td>
                                        <td>{{ pro?.email }}</td>
                                        <td>{{ pro.phoneNumber }}</td>
                                        <td>{{ pro.role }}</td>

                                        <td class=" d-flex">

                                            <button class="btn btn-warning btn-pad ml-2 mr-2" style="padding:10px;"
                                                (click)="editUser(pro._id)">
                                                <i class="pi pi-pencil"> </i>
                                            </button>
                                            <button class="btn btn-danger" (click)="deleteUser(i)" style="padding:10px">
                                                <i class="pi pi-trash"> </i>
                                            </button>

                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="12" style="text-align: center;">
                                            <h4>No Record Found</h4>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    </div>
</div>