<div class="main" (keyup.enter)="submitLogin()">
    <p class="sign" style="text-align: center;">Sign in</p>
    <form class="form1" [formGroup]="loginForm">
        <input class="un mb-3" type="text" style="text-align: center;" placeholder="Username" formControlName="email">
        <div *ngIf="submitted && f.email.errors?.required" class=" text-danger text-center mb-3">*Email is required.
        </div>
        <input class="pass mb-3" type="password" style="text-align: center;" placeholder="Password"
            formControlName="password">
        <div *ngIf="submitted && f.password.errors?.required" class=" text-danger text-center mb-3">*Password is
            required.</div>
        <a class="submit" style="text-align: center; color: white;" (click)="submitLogin()">Sign in</a>
        <br />
        <div *ngIf="loading" class="pspiner">
            <p-progressSpinner [style]="{width: '25px', height: '30px'}" strokeWidth="4" animationDuration=".5s">
            </p-progressSpinner>
        </div>
    </form>
    <p-toast position="top-right"></p-toast>
</div>