<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h5 style="font-family: 'Nunito', sans-serif;" class="title">Device
                                            Details of {{ device?.device_id }}
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" style="margin-bottom: 5px;">
                                            <div class="col-lg-3">
                                                <span class="h6">Assigned User : </span>
                                                {{ device?.user_id?.name }}
                                            </div>
                                            <div class="col-lg-5">
                                                <span class="h6">Device Location (lat, lng) :
                                                </span>{{ device?.location_latitude }}° N,
                                                {{device?.location_longitude}}° E
                                            </div>
                                            <div class="col-lg-3">
                                                <span class="h6">Created on:
                                                </span>{{ device?.timestamp | date:'MMM d, y, h:mm a'}}
                                            </div>
                                            <div class="col-lg-3">
                                                <!-- <select (change)="parameterChange($event.target.value)" name="example"
                                                    class=" form-control" style="height: 40px">
                                                    <option value="" disabled selected>Select Parameter</option>
                                                    <option *ngFor="let val of device_parameters"
                                                        value="{{val?.fieldKey}}">
                                                        {{val?.fieldKey}}
                                                    </option>
                                                </select> -->
                                                <!-- <button class="btn btn-success" type="submit" (click)="drawGraph()">
                                                    Draw Graph
                                                </button> -->
                                                <!-- <p-progressSpinner *ngIf="loading"
                                                    [style]="{width: '25px', height: '30px'}" strokeWidth="4"
                                                    animationDuration=".5s"></p-progressSpinner> -->
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div style="margin-left: 10px;">
                                                <mat-form-field lass="map-search-field"
                                                    style="width: 100px;font-weight: bolder;font-family: 'Nunito', sans-serif;color: black !important;">
                                                    <mat-label>Refresh</mat-label>
                                                    <mat-select [(ngModel)]="refreshTime"
                                                        (selectionChange)="refreshTimeChanged()">
                                                        <mat-option value="5000">
                                                            5s
                                                        </mat-option>
                                                        <mat-option value="10000">
                                                            10s
                                                        </mat-option>
                                                        <mat-option value="15000">
                                                            15s
                                                        </mat-option>
                                                        <mat-option value="30000">
                                                            30s
                                                        </mat-option>
                                                        <mat-option value="60000">
                                                            60s
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div style="margin-left: 5px;">
                                                <mat-form-field
                                                    style="width: 100px;font-weight: bolder;font-family: 'Nunito', sans-serif;color: black !important;">
                                                    <mat-label>Time</mat-label>
                                                    <mat-select [(ngModel)]="selectedTime"
                                                        (selectionChange)="timeChanged()">
                                                        <mat-option value="5m">
                                                            Past 5m
                                                        </mat-option>
                                                        <mat-option value="15m">
                                                            Past 15m
                                                        </mat-option>
                                                        <mat-option value="1h">
                                                            Past 1h
                                                        </mat-option>
                                                        <mat-option value="6h">
                                                            Past 6h
                                                        </mat-option>
                                                        <mat-option value="12h">
                                                            Past 12h
                                                        </mat-option>
                                                        <mat-option value="24h">
                                                            Past 24h
                                                        </mat-option>
                                                        <mat-option value="2d">
                                                            Past 2d
                                                        </mat-option>
                                                        <mat-option value="7d">
                                                            Past 7d
                                                        </mat-option>
                                                        <mat-option value="30d">
                                                            Past 30d
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="width:100%;height:100%;" id="container">
                                            </div>
                                        </div>
                                        <div class=" card-footer" style="text-align: right;">
                                            <button class="btn btn-danger" type="submit" (click)="back()">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>