<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="isAdmin">
      <!-- <div class="row"> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-success">
                    <h5 style="font-family: 'Nunito', sans-serif" class="title">
                      Device Registration
                    </h5>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="DeviceForm">
                      <div class="row">
                        <div *ngIf="isAdmin" class="col-md-4 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Registered Users
                            </h5>
                            <p-dropdown
                              [ngModelOptions]="{ standalone: true }"
                              [options]="UserList"
                              [(ngModel)]="selectedUser"
                              optionLabel="name"
                              [filter]="true"
                              filterBy="name"
                              [showClear]="true"
                              placeholder="Select a User"
                              (onChange)="userSelected(selectedUser)"
                              [style]="{ width: '100%' }"
                            >
                              <ng-template pTemplate="selectedItem">
                                <div *ngIf="selectedUser">
                                  <div>{{ selectedUser.name }}</div>
                                </div>
                              </ng-template>
                              <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                              </ng-template>
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-4 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif !important;
                              "
                            >
                              Device Id
                            </h5>
                            <p-dropdown
                              formControlName="device_id"
                              [options]="ThingStackDevicesList"
                              placeholder="Select a Device"
                              [style]="{ width: '100%' }"
                            >
                            </p-dropdown>
                            <span
                              style="
                                color: red;
                                font-family: 'Nunito', sans-serif;
                              "
                              *ngIf="deviceAlreadyExists"
                              >Device Id Already Exists
                            </span>
                          </div>
                        </div>
                        <div class="col-md-2 pl-md-1">
                          <div class="form-group">
                            <h5 style="font-weight: bolder">Latitude</h5>
                            <input
                              class="form-control inputBorder"
                              placeholder="ex :42.4668"
                              type="text"
                              formControlName="location_latitude"
                            />
                          </div>
                        </div>
                        <div class="col-md-2 pl-md-1">
                          <div class="form-group">
                            <h5 style="font-weight: bolder">Longitude</h5>
                            <input
                              class="form-control inputBorder"
                              placeholder="ex :-42.4668"
                              type="text"
                              formControlName="location_longitude"
                            />
                          </div>
                        </div>
                        <div class="col-md-4 pl-md-1">
                          <div class="form-group">
                            <h5 style="font-weight: bolder">Fields</h5>
                            <p-multiSelect
                              defaultLabel="Select Fields"
                              class="dropdownsettings"
                              formControlName="fields"
                              [options]="ThingStackFeildsList"
                              [style]="{ width: '100%' }"
                            >
                            </p-multiSelect>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="card text-white bg-info mb-3 mt-1">
                            <div
                              style="
                                font-family: 'Nunito', sans-serif !important;
                              "
                              class="card-header"
                            >
                              Configuring Devices:
                            </div>
                            <div class="card-body">
                              <p
                                style="
                                  font-family: 'Nunito', sans-serif !important;
                                "
                                class="card-text"
                              >
                                Please send MQTT data in JSON format on
                                Registered Device ID as below.
                              </p>
                              <p
                                style="
                                  font-family: 'Nunito', sans-serif !important;
                                "
                                class="card-text"
                              >
                                {{ "{" }} "ST" : 34, "SM" : 21, "AT" : 23, "BL"
                                : 65 {{ "}" }}
                              </p>
                            </div>
                          </div>
                        </div>

                        <p-toast position="top-right"></p-toast>
                      </div>
                    </form>
                    <!-- <form [formGroup]="FieldForm">
                                            <div class="row">
                                                <div class=" col-md-4 pr-md-1">
                                                    <div class=" form-group">
                                                        <h5 style="font-weight: bolder;">Field Name:</h5>
                                                        <input class="form-control" type="text" placeholder="ex: SM"
                                                            formControlName="name" />
                                                    </div>
                                                </div>
                                                <div class=" col-md-2 pt-md-3">
                                                    <button style="margin-top: 25px;" class="btn btn-success"
                                                        type="submit" [disabled]="FieldForm.invalid"
                                                        (click)="addRecord()">Add</button>
                                                </div>
                                            </div>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <p-table #dt [value]="selected_field_list" [autoLayout]="true"
                                                        [resizableColumns]="fit">
                                                        <ng-template pTemplate="caption">
                                                            <div style="font-family: 'Nunito', sans-serif !important;"
                                                                class="mytable-header">
                                                                List of Parameters
                                                            </div>
                                                        </ng-template>
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th>Sr#</th>
                                                                <th>Name</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                            <tr>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-pro let-i="rowIndex">
                                                            <tr>
                                                                <td>{{i+1}}</td>
                                                                <td>{{ pro.name }}</td>
                                                                <td class=" d-flex">
                                                                    <button class="btn btn-danger"
                                                                        (click)="deleteRecord(i)" style="padding:10px">
                                                                        <i class="pi pi-trash"> </i>
                                                                    </button>

                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="emptymessage">
                                                            <tr>
                                                                <td colspan="12" style="text-align: center;">
                                                                    <h4
                                                                        style="font-family: 'Nunito', sans-serif !important;">
                                                                        No Parameter Added</h4>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card text-white bg-info mb-3 mt-1">
                                                        <div style="font-family: 'Nunito', sans-serif !important;"
                                                            class="card-header">Configuring Devices:</div>
                                                        <div class="card-body">

                                                            <p style="font-family: 'Nunito', sans-serif !important;"
                                                                class="card-text">Please send MQTT data in JSON format
                                                                on
                                                                Registered Device ID as below.</p>
                                                            <p style="font-family: 'Nunito', sans-serif !important;"
                                                                class="card-text">{{ '{' }} "ST" :
                                                                34, "SM" : 21, "AT" : 23, "BL"
                                                                :
                                                                65 {{ '}' }} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer" style="text-align: right">
            <button class="btn btn-danger" type="submit" (click)="resetForm()">
              Revert
            </button>
            <button
              class="btn btn-success"
              type="submit"
              (click)="saveDevice()"
            >
              Register Device
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card cus-card col-md-12">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="input-group" style="margin-left: 30px">
                      <div
                        class="input-group-prepend"
                        style="border: 1px solid black"
                      >
                        <span class="input-group-text"
                          ><i class="fa fa-search"></i
                        ></span>
                      </div>
                      <input
                        pInputText
                        type="text"
                        (input)="
                          dt.filter(
                            $event.target.value,
                            'device_id',
                            'contains'
                          )
                        "
                        placeholder="Search by Id"
                        class="p-column-filter"
                        [value]="
                          dt.filters['device_id']
                            ? dt.filters['device_id'].value
                            : ''
                        "
                      />
                      <i
                        class="resetBtn pi pi-refresh p-2 ml-2"
                        style="background-color: #efefef"
                        (click)="resetFilters()"
                      ></i>
                    </div>
                  </div>
                </div>
                <div style="padding-top: 10px" class="row">
                  <div class="col-md-12">
                    <p-table
                      #dt
                      [value]="DeviceList"
                      [autoLayout]="true"
                      dataKey="device_id"
                      [rows]="10"
                      [showCurrentPageReport]="true"
                      [rowsPerPageOptions]="[10, 25, 50]"
                      [loading]="loading"
                      styleClass="p-datatable-customers"
                      [paginator]="true"
                      [filterDelay]="0"
                      [globalFilterFields]="['device_id', 'user_id.name']"
                    >
                      <ng-template pTemplate="caption">
                        <div class="mytable-header">
                          List of Devices
                          <div
                            class="input-group-prepend"
                            style="border: 1px solid black"
                          >
                            <span
                              style="margin-right: 5px"
                              class="input-group-text"
                              ><i class="fa fa-search"></i
                            ></span>
                            <input
                              style="border: 0"
                              pInputText
                              type="text"
                              (input)="
                                dt.filterGlobal($event.target.value, 'contains')
                              "
                              placeholder="Search All"
                            />
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Sr#</th>
                          <th>Device Id</th>
                          <th>Location</th>
                          <th>User</th>
                          <th>Parameters</th>
                          <th>Actions</th>
                        </tr>
                        <tr></tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pro let-i="rowIndex">
                        <tr>
                          <td>{{ i + 1 }}</td>
                          <td>{{ removeExtraString(pro.device_id) }}</td>
                          <td>
                            {{ pro.location_latitude }}° N,
                            {{ pro.location_longitude }}° E
                          </td>
                          <td>{{ pro.user_id.name }}</td>
                          <td>
                            <h6 *ngFor="let val of pro.fields">
                              {{ removeExtraStringParameter(val?.name) }}
                              {{ val?.last }}
                            </h6>
                          </td>
                          <td class="">
                            <button
                              class="btn btn-primary btn-pad"
                              (click)="viewDevice(pro)"
                              style="padding: 10px"
                            >
                              <i class="pi pi-eye"> </i>
                            </button>
                            <button
                              class="btn btn-warning btn-pad ml-2 mr-2"
                              style="padding: 10px"
                              (click)="editDevice(pro._id)"
                            >
                              <i class="pi pi-pencil"> </i>
                            </button>
                            <button
                              class="btn btn-danger"
                              (click)="deleteDevice(i)"
                              style="padding: 10px"
                            >
                              <i class="pi pi-trash"> </i>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="12" style="text-align: center">
                            <h4>No Record Found</h4>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
  </div>
</div>
