<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-success">
                    <h5 style="font-family: 'Nunito', sans-serif" class="title">
                      Alerts
                    </h5>
                  </div>
                  <div class="card-body">
                    <form [formGroup]="AlertForm">
                      <div class="row">
                        <div class="col-md-3 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Device
                            </h5>
                            <p-dropdown
                              [ngModelOptions]="{ standalone: true }"
                              [options]="DeviceList"
                              [(ngModel)]="selectedDevice"
                              optionLabel="device_id"
                              [filter]="true"
                              filterBy="device_id"
                              [showClear]="true"
                              placeholder="Select a Device"
                              (onChange)="deviceSelected(selectedDevice)"
                              [style]="{ width: '100%' }"
                            >
                              <ng-template pTemplate="selectedItem">
                                <div *ngIf="selectedDevice">
                                  <div>{{ selectedDevice.device_id }}</div>
                                </div>
                              </ng-template>
                              <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.device_id"></a>
                              </ng-template>
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-3 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Parameter
                            </h5>
                            <p-dropdown
                              [ngModelOptions]="{ standalone: true }"
                              [options]="ParameterList"
                              [(ngModel)]="selectedParameter"
                              optionLabel="name"
                              [filter]="true"
                              filterBy="name"
                              [showClear]="true"
                              placeholder="Select a Parameter"
                              (onChange)="parameterSelected(selectedParameter)"
                              [style]="{ width: '100%' }"
                            >
                              <ng-template pTemplate="selectedItem">
                                <div *ngIf="selectedParameter">
                                  <div>
                                    {{
                                      removeExtraStringParameter(
                                        selectedParameter.name
                                      )
                                    }}
                                  </div>
                                </div>
                              </ng-template>
                              <ng-template #itemTemplate let-item>
                                <a [innerHTML]="item.name"></a>
                              </ng-template>
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-3 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Condition
                            </h5>
                            <p-dropdown
                              formControlName="condition"
                              [options]="conditions"
                              placeholder="Select a Condition"
                              [style]="{ width: '100%' }"
                            >
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-2 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Value
                            </h5>
                            <input
                              class="form-control inputBorder"
                              placeholder="ex :58"
                              type="text"
                              formControlName="value"
                            />
                          </div>
                        </div>
                        <div class="col-md-3 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Alert Name
                            </h5>
                            <input
                              class="form-control inputBorder"
                              placeholder="ex :test alert"
                              type="text"
                              formControlName="alert_name"
                            />
                          </div>
                        </div>
                        <div class="col-md-3 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Action
                            </h5>
                            <p-dropdown
                              formControlName="action"
                              [options]="actions"
                              placeholder="Select a Action"
                              [style]="{ width: '100%' }"
                            >
                            </p-dropdown>
                          </div>
                        </div>
                        <div class="col-md-2 pl-md-1">
                          <div class="form-group">
                            <h5
                              style="
                                font-weight: bolder;
                                font-family: 'Nunito', sans-serif;
                              "
                            >
                              Email
                            </h5>
                            <input
                              class="form-control inputBorder"
                              placeholder="ex :test@gmail.com"
                              type="text"
                              formControlName="destination"
                            />
                          </div>
                        </div>
                        <p-toast position="top-right"></p-toast>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer" style="text-align: right">
            <button class="btn btn-danger" type="submit" (click)="resetForm()">
              Revert
            </button>
            <button class="btn btn-success" type="submit" (click)="saveAlert()">
              Add Alert
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card cus-card col-md-12">
      <div class="card-body">
        <form>
          <div class="row">
            <div class="card col-md-12">
              <div class="card-body">
                <div style="padding-top: 10px" class="row">
                  <div class="col-md-12">
                    <p-table
                      #dt
                      [value]="AlertList"
                      [autoLayout]="true"
                      dataKey="alert_name"
                      [rows]="10"
                      [showCurrentPageReport]="true"
                      [rowsPerPageOptions]="[10, 25, 50]"
                      [loading]="loading"
                      styleClass="p-datatable-customers"
                      [paginator]="true"
                      [filterDelay]="0"
                      [globalFilterFields]="['device_id.name', 'alert_name']"
                    >
                      <ng-template pTemplate="caption">
                        <div class="mytable-header">
                          List of Alerts
                          <div
                            class="input-group-prepend"
                            style="border: 1px solid black"
                          >
                            <span
                              style="margin-right: 5px"
                              class="input-group-text"
                              ><i class="fa fa-search"></i
                            ></span>
                            <input
                              style="border: 0"
                              pInputText
                              type="text"
                              (input)="
                                dt.filterGlobal($event.target.value, 'contains')
                              "
                              placeholder="Search All"
                            />
                          </div>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                        <tr>
                          <th>Sr#</th>
                          <th>Alert Name</th>
                          <th>Device Id</th>
                          <th>Parameter</th>
                          <th>Condition</th>
                          <th>Value</th>
                          <th>Action</th>
                          <th>Detination</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                        <tr></tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-pro let-i="rowIndex">
                        <tr>
                          <td>{{ i + 1 }}</td>
                          <td>{{ pro.alert_name }}</td>
                          <td *ngIf="pro.device_id">
                            {{ removeExtraString(pro?.device_id?.device_id) }}
                          </td>
                          <td style="color: red" *ngIf="pro.device_id == null">
                            Device Not Found
                          </td>
                          <td>
                            {{ removeExtraStringParameter(pro.parameter) }}
                          </td>
                          <td>{{ pro.condition }}</td>
                          <td>{{ pro.value }}</td>
                          <td>{{ pro.action }}</td>
                          <td>{{ pro.destination }}</td>
                          <td>
                            <p-toggleButton
                              (onChange)="activeChange($event, i)"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="isActive[i]"
                              onLabel="Active"
                              offLabel="Unactive"
                              onIcon="pi pi-check"
                              offIcon="pi pi-times"
                              [style]="{ width: '150px' }"
                            >
                            </p-toggleButton>
                          </td>
                          <td class="">
                            <button
                              class="btn btn-warning btn-pad ml-2 mr-2"
                              style="padding: 10px"
                              (click)="editAlert(pro._id)"
                            >
                              <i class="pi pi-pencil"> </i>
                            </button>
                            <button
                              class="btn btn-danger"
                              (click)="deleteAlert(i)"
                              style="padding: 10px"
                            >
                              <i class="pi pi-trash"> </i>
                            </button>
                          </td>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="12" style="text-align: center">
                            <h4>No Record Found</h4>
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <p-confirmDialog
      header="Confirmation"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
  </div>
</div>
