<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h5 style="font-weight: bolder;" class=" title">Edit User </h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="UserForm">
                                            <div class=" row">
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Name</h5>
                                                        <input class=" form-control inputBorder"
                                                            placeholder="ex :Ali Khan" type="text"
                                                            formControlName="name" />
                                                        <div *ngIf="submitted && f.name.errors" class="text-danger">
                                                            <div *ngIf="f.name.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Name
                                                                Required!</div>
                                                            <div *ngIf="f.name.errors.minlength"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Name should contain at least 6 characters
                                                            </div>
                                                            <div *ngIf="f.name.errors.pattern"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Invalid Pattern
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class=" col-md-2 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Phone No</h5>
                                                        <input class="form-control item inputBorder" id="phoneNumber"
                                                            type="text" placeholder="ex: 03001234567"
                                                            mask="0000-0000000" formControlName="phoneNumber" />
                                                        <div *ngIf="submitted && f.phoneNumber.errors"
                                                            class="text-danger">
                                                            <div *ngIf="f.phoneNumber.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Phone Number
                                                                Required!</div>
                                                            <div *ngIf="f.phoneNumber.errors.pattern"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Invalid Phone Number !</div>
                                                            <div *ngIf="f.phoneNumber.errors.minlength"><i class=" fas
                                          fa-exclamation-circle"></i>
                                                                Must be 11 Digit Number !
                                                            </div>
                                                            <div *ngIf="f.phoneNumber.errors.maxlength"><i class=" fas
                                          fa-exclamation-circle"></i>
                                                                Must be 13 Digit Number !
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class=" col-md-6 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Address</h5>
                                                        <input class="form-control inputBorder" type="text"
                                                            placeholder="Address" formControlName="address" />
                                                    </div>
                                                    <div *ngIf="submitted && f.address.errors?.minlength"
                                                        class=" text-danger">
                                                        <i class="fas fa-exclamation-circle"></i>
                                                        Address should
                                                        be at least 20 characters</div>
                                                    <div *ngIf="submitted && f.address.errors?.required"
                                                        class=" text-danger">
                                                        <i class="fas fa-exclamation-circle"></i>
                                                        Address required</div>
                                                </div>
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">

                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Email</h5>
                                                        <input class=" form-control item inputBorder" type="text"
                                                            placeholder="ex: someone@gmail.com" id="email"
                                                            formControlName="email" />
                                                        <div *ngIf="submitted && f.email.errors" class="text-danger">
                                                            <div *ngIf="f.email.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Email
                                                                Required!</div>
                                                            <div *ngIf="f.email.errors.email"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Invalid Email !</div>
                                                        </div>
                                                        <span style="color:red" *ngIf="emailAlreadyExists">Email Already
                                                            Exists
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <div class=" form-group">
                                                            <h5
                                                                style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                                Role</h5>
                                                            <p-dropdown formControlName="role" [options]="roles"
                                                                placeholder="Select a Role" [style]="{'width':'100%'}">
                                                            </p-dropdown>
                                                        </div>
                                                        <div *ngIf="submitted && f.role.errors" class="text-danger">
                                                            <div *ngIf="f.role.errors.required"><i
                                                                    class="fas fa-exclamation-circle"></i>
                                                                Role
                                                                Required!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p-toast position="top-right"></p-toast>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" card-footer" style="text-align: right;">
                        <button style="margin-right: 5px;" class="btn btn-danger" type="submit"
                            (click)="cancel()">Cancel</button>

                        <button class="btn btn-success" type="submit" (click)="updateUser()">Update User</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-9 pd-top-main ">
                <div class="card-body border background">
                    <div class="card card-accent-danger mb-3">
                        <div class="card-body" style="width: 100%;">
                            <h5 class="card-title" style="padding-top:10px">
                                Change Password
                            </h5>
                            <form id="passForm" name="passForm" [formGroup]="changePasswordForm"
                                class="needs-validation" novalidate style="padding-top: 5px;">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="pcur" class="h6">Current Password</label>
                                            <input type="password" id="pcur" name="pcur" formControlName="current"
                                                class="form-control inputBorder" placeholder="Current Password"
                                                required />
                                            <div class="invalid-feedback mer-left">
                                                <i class="fa fa-exclamation" aria-hidden="true"></i>Password Required
                                            </div>
                                            <span class="text-danger" *ngIf="currentWrongPassError">
                                                <i class="fa fa-exclamation" aria-hidden="true"></i>Passwords does not
                                                match.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class=" col-md-6">
                                            <label for="pnew" class="h6">New Password</label>
                                            <input type="password" id="pnew" name="pnew"
                                                class="form-control inputBorder" formControlName="new_password"
                                                placeholder="New Password" required />
                                            <div class="invalid-feedback mer-left">
                                                <i class="fa fa-exclamation" aria-hidden="true"></i>New Password
                                                Required
                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <label for="pnew2" class="h6">Retype New Password</label>
                                            <input type="password" id="pnew2" name="pnew2"
                                                class="form-control inputBorder" formControlName="new_password2"
                                                placeholder="Retype New Password" required />
                                            <div class="invalid-feedback mer-left">
                                                <i class="fa fa-exclamation" aria-hidden="true"></i>Retype Password
                                                Please
                                            </div>
                                            <span class="text-danger" *ngIf="confirmPassError">
                                                <i class="fa fa-exclamation" aria-hidden="true"></i>Passwords does not
                                                match.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div style="text-align: end;">
                                    <button type="submit" class="btn btn-success" (click)="savePassword()">
                                        Save Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>