<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-success">
                                        <h5 style="font-family: 'Nunito', sans-serif;" class="title">Edit Device
                                            Allocation
                                        </h5>
                                    </div>
                                    <div class="card-body">
                                        <form [formGroup]="DeviceForm">
                                            <div class=" row">
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif;">
                                                            Registered Users</h5>
                                                        <p-dropdown [ngModelOptions]="{standalone: true}"
                                                            [options]="UserList" [(ngModel)]="selectedUser"
                                                            optionLabel="name" [filter]="true" filterBy="name"
                                                            [showClear]="true" placeholder="Select a User"
                                                            (onChange)='userSelected(selectedUser)'
                                                            [style]="{'width':'100%'}">
                                                            <ng-template pTemplate="selectedItem">
                                                                <div *ngIf="selectedUser">
                                                                    <div>{{selectedUser.name}}</div>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template #itemTemplate let-item>
                                                                <a [innerHTML]="item.name"></a>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </div>
                                                </div>
                                                <div class=" col-md-4 pl-md-1">
                                                    <div class=" form-group">
                                                        <h5
                                                            style="font-weight: bolder;font-family: 'Nunito', sans-serif !important;">
                                                            Avaliable Devices</h5>
                                                        <p-multiSelect defaultLabel="Select Devices"
                                                            class="dropdownsettings" formControlName="devices"
                                                            [options]="ThingStackDevicesList"
                                                            [style]="{'width':'100%'}">
                                                        </p-multiSelect>
                                                    </div>
                                                </div>

                                                <p-toast position="top-right"></p-toast>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" card-footer" style="text-align: right;">
                        <button class="btn btn-danger" type="submit" (click)="cancel()">Cancel</button>
                        <button class="btn btn-success" type="submit" (click)="editAllocateDevice()">Update Allocate
                            Devices</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>